body {
    margin: 0;
    background: #E6F1E9;
    font-family: Arial, Helvetica, sans-serif;
    color: #686674;
    text-align: center;
}

.container {
    width: 400px;
    margin: 20px auto;
    border: 4px solid #fffbff;
    border-radius: 12px;
}

.metric-input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5f3bfd;
    border-radius: 8px 8px 0 0;
}


.metric-input-div h3 {
    color: #fff3ff;
}

.metric-input-div input {
   width: 50px;
   height: 40px;
   padding: 2px 5px;
   text-align: center;
   font-size: 2.0rem;
   border: 1.5px solid #9d7fff;
   background-color: #5f3bfd;
   border-radius: 2px;
   font-weight: bold;
   color: #ffffff;
}

.metric-input-div button {
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    text-align: center;
    background-color: #fffdfe;
    border: none;
    padding: 5px 12px;
}

.unit-info-div {
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    padding: 20px 20px;
}

.unit-info-div div {
    background: #fefefe;
    border-radius: 2px;
    font-size: 0.85rem;
    color: #4b4b4d;
}

.font-bold {
    font-weight: bold;
    color: #5f3bfd;
}